= simple_form_for(@position) do |position|
  = position.error_notification

  .form-inputs
    = position.input :position
    = position.input :image
    = position.input :description

  .form-actions
    = position.button :submit
