%h2 Check Out Your position

#notice= notice

%p 
  %strong Date:
  = @position.date

%p 
  %strong Position:
  = @position.position

%p 
  %strong Image:
  = @position.image_html

%p 
  %strong Description:
  = @position.description

= link_to 'Edit position', edit_position_path(@position)
|
= link_to 'All positions', positions_path
