#main_column.home_column
  #shit_to_read CHANGE UP YOUR DUDEFEST ACCOUNT
  #sign_in>
    = simple_form_for(resource, as: resource_name, 
                                url: registration_path(resource_name),
                                html: { :method => :put }) do |f|
      = f.error_notification
      .form-inputs.simple-form
        = f.input :email, required: true, autofocus: true
        = f.input :name, required: true
        = f.input :username, required: true
        = f.input :bio
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %p
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        = f.input :password, autocomplete: 'off', 
                             hint: 'leave blank if you don\'t want it changed',
                             required: false, label: 'New Password'
        = f.input :password_confirmation, required: false,
                                          hint: 'same as new password',
                                          label: 'Confirm Password'
        = f.input :current_password, hint: 'we need this to confirm changes',
                                     required: true
      .form-actions
        .actions= f.button :submit, 'UPDATE'
  #sign_up
    %h3 Want to leave<br>the Dudefest crew?
    .actions= link_to 'CANCEL ACCOUNT', registration_path(resource_name), 
                                        data: { confirm: 'Are you sure?' },
                                        method: :delete
    %h3 Maybe you want to go <br>back to the previous page
    .actions= link_to 'BACK', :back

= render 'home/daily_dose'
