.daily_dose_item
  .right_label RECENT COMMENTS
  .recent_comments
    - comments.each do |comment|
      .recent_comment
        .recent_comment_info
          .recent_commenter
            = link_to comment.user.name, user_path(comment.user)
            - if comment.user.has_role?(:dude) 
              = link_to (image_tag '/DudefestSymbol.png'), users_path
          .recent_comment_datetime
            = time_ago_in_words(comment.created_at) + ' ago'
        .recent_comment_body.text= preview(comment.body)
        .recent_comment_article
          on
          = link_to comment.find_commentable.title, 
                    article_path(comment.find_commentable)
