.article_summary
  .article_image
    = link_to image_tag(article.display_image), article_path(article)
    .article_type= link_to article.type, column_path(article.column)
  .article_info
    .article_title= link_to article.display_title, article_path(article)
    .article_author= 'By ' + article.display_authors
    .article_date= article.display_date
