.top_article
  = link_to image_tag(article.display_image), article_path(article)
  .article_type= link_to article.type, column_path(article.column)
  .top_article_info
    .article_title= link_to article.display_title, article_path(article)
    .article_author
      By
      - if article.authors.count > 2
        = link_to 'the Dudefest Dudes', users_path
      - else
        = article.authors.map { |a| link_to a.name, user_path(a) }. |
                  join(', ').html_safe                              |
      on
      = article.display_date
