- content_for(:title, @article.title)
- content_for :head do
  = tag :meta, property: 'og:title', content: @article.title
  = tag :meta, property: 'og:url', content: article_url(@article)
  = tag :meta, property: 'og:image', content: image_url(@article.display_image)
  = tag :meta, property: 'og:description', 
               content: Sanitize.clean(@article.body).html_safe

#main_column.home_column
  #shit_to_read.main_top= @article.column.column.upcase
  #article
    #article_top
      #article_image>= image_tag @article.display_image
      #article_info
        #article_title= @article.title
        #article_author= @article.display_authors
        #article_date= display(@article.date)
        #article_shares= render_shareable title: @article.display_title
    #article_body.text= @article.body.html_safe
    #byline.text
      %i= @article.display_byline.html_safe
    #article_bottom

= render partial: 'home/daily_dose'
