- content_for(:title, @article.title)
- meta_description preview(Sanitize.clean(@article.body).html_safe)
- content_for :head do
  = tag :meta, property: 'og:title', content: @article.title
  = tag :meta, property: 'og:url', content: article_url(@article)
  = tag :meta, property: 'og:image', content: image_url(@article.display_image)
  = tag :meta, property: 'og:description', 
               content: preview(Sanitize.clean(@article.body).html_safe)

#main_column.home_column
  #shit_to_read.main_top= @article.column.column.upcase
  #article
    #article_top
      #article_image>= image_tag @article.display_image
      #article_info
        #article_title= @article.title
        #article_author
          = @article.authors.map { |a| link_to a.name, user_path(a) }. |
                     join(', ').html_safe                              |
        #article_date= display(@article.date)
        #article_shares= render_shareable title: @article.display_title
    #article_body.text= @article.body.html_safe
    #byline.text
      %i= @article.byline.html_safe
  #related
    .related_row
      .related_row_label
        Recent
        = link_to @article.topic.topic, topic_path(article.topic.topic)
        Articles
      - @article.topic.public_related(@column).first(6).each do |article|
        = render partial: 'related_articles', locals: { article: article }
  #comments
    = render partial: '/comments/form'
    #comment_list 
      - @comments.each do |comment|
        = render partial: '/comments/comment', locals: { comment: comment }

#right_column.home_column
  #right_content
    #daily_dose
      = link_to @column.display_name, column_path(@column)
    .daily_dose_item
      .daily_dose_image
        = link_to image_tag(@column.image_url(:display)), 
                  column_path(@column)
      = render partial: 'columns/column_info', locals: { column: @column }
    .right_label.recent_articles= 'RECENT ' + @column.display_name.upcase
    .right_column_list
      - @column.public_related(@article).first(10).each do |article|
        = render partial: 'articles/side_article', locals: { article: article }
    = render partial: 'comments/recent_comments',
             locals: { comments: Comment.recent(10) }

