- content_for(:title, 'Movies we\'ve reviewed')
- meta_description @column.description
- content_for :head do
  = tag :meta, property: 'og:title', content: @column.column
  = tag :meta, property: 'og:url', content: column_url(@column)
  = tag :meta, property: 'og:image', content: image_url(@column.image)
  = tag :meta, property: 'og:description', content: @column.description

#main_column.home_column
  #shit_to_read.main_top= @header.upcase + ' MOVIES WE\'VE REVIEWED'
  #article_summaries
    - @movies.each do |movie|
      .article_summary
        .article_image
          = link_to image_tag(movie.review.display_image), movie_path(movie)
          .article_type= link_to movie.review.type, movies_path
        .article_info.movie_info
          .article_title= link_to movie.title, movie_path(movie)
          .article_author
            Review by 
            = link_to movie.review.creator.name, user_path(movie.review.creator)
          .article_date= movie.review.display_date
        .average_rating
          DUDEFEST RATING
          .dudefest_rating= movie.average_rating

#right_column.home_column
  #right_content
    #daily_dose= link_to 'Dudefest Movie Genres', movies_path
    - if @show_daily_dose
      .daily_dose_item
        - Genre.order(:genre).each do |genre|
          .genre_tag= link_to genre.genre, movies_path(genre: genre)
    .daily_dose_item
      .right_label RECENT RATINGS
      .recent_comments
        - Rating.recent(10).each do |rating|
          = render partial: 'ratings/recent_ratings', 
                   locals: { rating: rating }
    - if @show_daily_dose
      = render partial: 'comments/recent_comments', 
               locals: { comments: Comment.recent(10) }

