- content_for(:title, 'Movies we\'ve reviewed')
- meta_description @column.description
- content_for :head do
  = tag :meta, property: 'og:title', content: @column.column
  = tag :meta, property: 'og:url', content: column_url(@column)
  = tag :meta, property: 'og:image', content: image_url(@column.image)
  = tag :meta, property: 'og:description', content: @column.description

#main_column.home_column
  #shit_to_read.main_top= @header.upcase + ' MOVIES WE\'VE REVIEWED'
  #article_summaries
    - @movies.each do |movie|
      .article_summary
        .article_image
          = link_to image_tag(movie.review.display_image), movie_path(movie)
          .article_type= link_to movie.review.type, movies_path
        .article_info
          .article_title= link_to movie.title, movie_path(movie)
          .article_author
            Review by 
            = link_to movie.review.creator.name, user_path(movie.review.creator)
          .article_date= movie.review.display_date

= render partial: 'home/daily_dose'
