- content_for(:title, 'Movies we\'ve reviewed')

#main_column.home_column
  #shit_to_read.main_top MOVIES WE'VE REVIEWED
  #article_summaries
    - @movies.each do |movie|
      .article_summary
        .article_image
          = link_to image_tag(movie.review.display_image), movie_path(movie)
          .article_type= link_to movie.review.type, movies_path
        .article_info
          .article_title= link_to movie.title, movie_path(movie)
          .article_author= 'Review by ' + movie.review.author.name
          .article_date= movie.review.display_date

= render partial: 'home/daily_dose'
