- content_for(:title, @movie.title)
- meta_description Sanitize.clean(@movie.review.body).html_safe
- content_for :head do
  = tag :meta, property: 'og:title', content: @movie.review.display_title
  = tag :meta, property: 'og:url', content: movie_url(@movie)
  = tag :meta, property: 'og:image', 
               content: image_url(@movie.review.display_image)
  = tag :meta, property: 'og:description', 
               content: Sanitize.clean(@movie.review.body).html_safe

#main_column.home_column
  #shit_to_read.main_top= @movie.title_with_year
  #movie
    #movie_info
      #movie_info_left.movie_info>
        #movie_image= image_tag @movie.review.display_image
      #movie_info_right.movie_info
        #genres.movie_info_list>
          #genres_title.movie_info_title Genres 
          - @movie.genres.each do |genre|
            .genre.movie_info_item
              =link_to genre.genre, movies_path(genre: genre)
        #average_rating 
          DUDEFEST RATING
          #dudefest_rating= @movie.average_rating
        #name_variants.movie_info_list 
          #name_variants_title.movie_info_title Dudes
          - @movie.name_variants.each do |name_variant|
            .name_variant.movie_info_item= name_variant.name_variant
    #movie_review_info>
      .review_shares>= render_shareable title: @movie.review.display_title,
                                        text: @movie.review.display_title
      .review_by_on
        By
        = link_to @movie.review.creator.name, user_path(@movie.review.creator)
        %br
        = @movie.review.display_date
    #article_body.text= @movie.review.body.html_safe
    #byline.text
      %i= @movie.review.byline.html_safe
    #ratings
      #ratings_title> R A T I N G S
      #ratings_list
        - @movie.complete_ratings.each do |rating|
          .rating
            .rating_number>= rating.display_rating
            .rating_info
              .rating_body.text>= rating.body
              .rater= link_to rating.creator.name, user_path(rating.creator)
  #comments
    = render partial: '/comments/form'
    #comment_list 
      - @comments.each do |comment|
        = render partial: '/comments/comment', locals: { comment: comment }

= render partial: 'home/daily_dose'
