%h2 Thing Categories

%table
  %thead
    %th Category
    %th Thing 
    %th Date
    %th Description
    %th

  %tbody
    - @things.each do |thing|
      %tr
        %td= thing.category
        %td= link_to thing.thing, thing.image
        %td= thing.date
        %td= thing.description
        %td= link_to 'Edit', edit_thing_path(thing)

= link_to 'Add a Thing', new_thing_path
