%h2 Show Thing Category 

#notice= notice

%p 
  %strong Category:
  = @thing.category

%p 
  %strong Thing:
  = @thing.thing

%p 
  %strong Image:
  = @thing.image_html

%p 
  %strong Description:
  = @thing.description

= link_to 'Edit this Thing', edit_thing_path(@thing)
|
= link_to 'All Things', things_path
