%h2 Show Historical Event

#notice= notice

%p 
  %strong Date:
  = @historical_event.date

%p 
  %strong Event:
  = @historical_event.event

%p 
  %strong Link:
  = @historical_event.link

= link_to 'Edit this Historical Event', edit_historical_event_path(@historical_event)
|
= link_to 'All Historical Events', historical_events_path
