- content_for(:title, 'Dudefest.com Columns')
- meta_description @meta_description
- content_for :head do
  = tag :meta, property: 'og:title', content: 'Dudefest.com Columns'
  = tag :meta, property: 'og:url', content: columns_url
  = tag :meta, property: 'og:image', content: image_url('DudefestSymbol.png')
  = tag :meta, property: 'og:description', content: @meta_description

#main_column.home_column
  #columns
    - @columns.sort_by { |c| c.public_articles.count }.reverse_each do |column|
      .column
        .column_name>= link_to column.column.upcase, column_path(column)
        .column_image>
          = link_to image_tag(column.image_url(:display)), column_path(column)
        = render partial: 'column_info', locals: { column: column }

#right_column.home_column
  #right_content
    #daily_dose Recent Shit To Read
    .daily_dose_item
      .right_label.recent_article= 'RECENT ARTICLES'
      .right_column_list
        - @articles.each do |article|
          = render partial: 'articles/side_article', 
                   locals: { article: article }
    = render partial: 'comments/recent_comments', 
             locals: { comments: Comment.recent(10) }

