- content_for(:title, @column.column)
- meta_description @column.description
- content_for :head do
  = tag :meta, property: 'og:title', content: @column.column
  = tag :meta, property: 'og:url', content: column_url(@column)
  = tag :meta, property: 'og:image', content: image_url(@column.image)
  = tag :meta, property: 'og:description', content: @column.description

#main_column.home_column
  #shit_to_read.main_top= @column.column.upcase
  #article_summaries
    - @column.public_articles.each do |article|
      = render partial: '/articles/summary', locals: { article: article }

#right_column.home_column
  #right_content
    #daily_dose
      = link_to @column.display_name, column_path(@column)
    .daily_dose_item
      .daily_dose_image
        = link_to image_tag(@column.image_url(:display)), 
                  column_path(@column)
      = render partial: 'columns/column_info', locals: { column: @column }
      .right_link
        = link_to 'READ RANDOM ' + @column.short_name.upcase, 
                  @column.public_articles.sample
