.recent_comment
  .recent_comment_info
    .recent_commenter
      = link_to rating.creator.name, user_path(rating.creator)
      - if rating.creator.has_role?(:dude) 
        = link_to (image_tag '/DudefestSymbol.png'), users_path
    .recent_comment_datetime= time_ago_in_words(rating.reviewed_at) + ' ago'
  .recent_comment_body.text= preview(rating.body)
  .recent_comment_article
    %b= rating.display_rating.to_s
    for
    = link_to rating.movie.title, 
              movie_path(rating.movie)
