#main_column.home_column
  #shit_to_read SIGN IN TO DUDEFEST
  #sign_in>
    = simple_form_for(resource, as: resource_name, 
                                url: session_path(resource_name)) do |f|
      = content_tag(:div, flash[:error], id: "flash_error") if flash[:error]
      = content_tag(:div, flash[:notice], id: "flash_notice") if flash[:notice]
      = content_tag(:div, flash[:alert], id: "flash_alert") if flash[:alert]
      .form-inputs.simple_form
        = f.input :username, required: false, autofocus: true
        = f.input :password, required: false
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      .form-actions.actions= f.button :submit, 'SIGN IN'
  #sign_up
    %h3 Want to join our crew?
    = render 'devise/shared/links'

= render 'home/daily_dose'
