%h2 Check Out Your Tip

#notice= notice

%p 
  %strong Date:
  = @tip.date

%p 
  %strong Tip:
  = @tip.tip

= link_to 'Adjust your tip', edit_tip_path(@tip)
|
= link_to 'Check out all the tips', tips_path
