!!!
%html
  %head
    %title Dudefest
    %meta{ name: 'google-site-verification', 
           content: %"vr5FV-75aPQmzNibYB-gYQrSlRQIVyoplQhbe6oB-GE" }
    = stylesheet_link_tag 'application', media: 'all', 
                          'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{ rel: 'shortcut icon', href: '/Dudefest.ico' }
    = yield(:head)
    %meta{ property: "og:image", content: '/DudefestSymbol.png' }
  %body
    #header
      #top
        #logo>= link_to image_tag('/Dudefest.png'), root_path
        #nav
          %ul
            %li>= link_to 'CINEMA', movies_path
            %li>= link_to 'BOOZE', column_path('booze')
            %li>= link_to 'FRAT', column_path('frat')
            %li>= link_to 'COMING SOON', coming_soon_path
            %li>= link_to 'CONTRIBUTE', contribute_path
            %li= link_to 'ABOUT', about_path
    #content
      = yield
