<!DOCTYPE html>
<html>
<head>
  <title>Dudefest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" , '/assets/ckeditor/ckeditor.js', 
                             '/assets/ckeditor/init.js'%>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/Dudefest.ico" />
</head>
<body>
  <div id="header"><div id="top">
    <div id="logo"><a href="/"><img src="/Dudefest.png"></a></div><!--
 --><div id="nav">
      <ul id="menu_items">
           <li class="menu_item"><a href="movies.html">REVIEWS</a></li><!--
        --><li class="menu_item"><a href="beers.html">ARTICLES</a></li><!--
        --><li class="menu_item"><a href="beers.html">COMING SOON</a></li><!--
        --><li class="menu_item"><a href="about.html">ABOUT</a></li>
      </ul>
    </div>
  </div></div>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
