!!!
%html
  %head
    %title= yield(:title)
    %meta{ name: 'google-site-verification', 
           content: 'vr5FV-75aPQmzNibYB-gYQrSlRQIVyoplQhbe6oB-GE' }
    %meta{ name: 'msvalidate.01',
           content: 'DE213793BAFE01B3DDE1C1E3CBBF29DD' }
    = stylesheet_link_tag 'application', media: 'all', 
                          'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{ rel: 'shortcut icon', href: '/Dudefest.ico' }
    %meta{ property: 'fb:app_id', content: '406559946144903' }
    %meta{ property: 'og:type', content: 'website' }
    = yield(:head)
    %meta{ name: 'keywords', content: meta_keywords }
    %meta{ name: 'description', content: meta_description }

  %body
    #header
      #top
        #logo>= link_to image_tag('/Dudefest.png'), root_path
        #site_nav
          #user_nav>
            - if user_signed_in?
              Waddup,
              = link_to current_user.name, edit_user_registration_path
              |
              = link_to 'Sign Out', destroy_user_session_path, method: :delete,
                         data: { confirm: 'Are you sure you want to sign out?' }
            - else
              = link_to 'Sign In', new_user_session_path
              |
              = link_to 'Sign Up', new_user_registration_path
          %ul#nav
            %li>
              = link_to 'MOVIES &#x25BE;'.html_safe, movies_path
              %ul>
                - @genres.each do |genre|
                  %li>= link_to genre.genre, movies_path(genre: genre)
            %li>
              = link_to 'COLUMNS &#x25BE;'.html_safe, articles_path
              %ul>
                - @columns.each do |column|
                  %li>= link_to column.display_name, column_path(column)
            %li>
              = link_to 'TOPICS &#x25BE;'.html_safe, articles_path
              %ul.right_align>
                - @topics.each do |topic|
                  %li>= link_to topic.topic, articles_path(topic: topic)
            %li>
              = link_to 'WRITERS &#x25BE;'.html_safe, users_path
              %ul.right_align>
                - @writers.each do |writer|
                  %li>= link_to writer.last_name, user_path(writer)
            %li>
              = link_to 'INFO &#x25BE;'.html_safe, info_path
              %ul.right_align>
                %li>= link_to 'Legal', legal_path
                %li>= link_to 'Coming Soon', coming_soon_path
                %li>= link_to 'Contribute', contribute_path
                %li>= link_to 'About', about_path
    #sub_nav
      #tagline
        = link_to @tagline.tagline, 
                  article_path(Article.all.select { |a| a.public? }.sample)
    #content
      = yield
    #footer
      = render 'layouts/footer'
